@media only screen and (max-width: 768px) {
  .brand-class {
    font-size: 25px;
  }
}
@media only screen and (max-width: 480px) {
  .brand-class {
    font-size: 20px;
    line-height: 1.6;
    justify-content: center;
    align-items: center;
  }
  main {
    h1 {
      font-size: 30px;
      text-align: center;
    }
    
        .page-heading {
        font-size: 37px;
        margin-top: 1%;
          }
  }
  .registerpage , .loginpage{
    button {
      margin: 0 5%;
      width: 90%;
    }
    .small-text {
      margin-top: 8px;
      font-size: 12px;
    }
  }
  .small-text {
    margin-left: 100%;
  }
}
