* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  overflow-x: hidden;
}

main {
  .page-heading {
    font-size: 50px;
  }
  .wrapper {
    padding: 0;
    height: 100%;
    opacity: 0.7;
  }

  .home {
    min-height: 88vh;
    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  }

  .loginpage {
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
    color: white;

    a {
      color: whitesmoke;
    }
  }
  .registerpage {
    background-image: linear-gradient(-225deg, #231557 0%, #000 29%, #5e0724 67%, #000 100%);
    color: whitesmoke;
    a {
      color: whitesmoke;
    }

  }
  h1 {
    font-size: 160px;
  }
}

* {
  list-style: none;
}
.hide {
  display: none;
}
.alert {
  font-size: 12px;
}
small {
  margin: 0.8rem 0.7rem;
}

@import "mobile";
